---
import Image from '../../shared/ui/Image';
import Container from '../../../widgets/shared/ui/Container.astro';
import FooterContacts from './FooterContacts.astro';
import FooterNavigation from './FooterNavigation';
import FooterAddress from './FooterAddress.astro';
---

<footer
    class="w-full bg-grey-color-2 text-white pt-5 pb-20 font-roboto font-light text-sm"
>
    <Container class="justify-between flex-wrap gap-5 mx-auto">
        <a class="w-full sm:w-auto" href="/">
            <Image src="/logo.svg" width="87px" />
        </a>
        <FooterContacts />
        <FooterNavigation />
        <FooterAddress />
    </Container>
</footer>
