---

---

<nav class="flex flex-col gap-3">
    <a href="">О компании</a>
    <a href="">Каталог</a>
    <a href="">Услуги</a>
    <a href="">Доставка и самовывоз</a>
    <a href="">Производство</a>
    <a href="">Проекты и отзывы</a>
</nav>
