@import 'tailwindcss';

:root {
    --color-main-color: #51993d;
    --color-grey-color: #eaebed;
    --color-main-color-2: #85c450;
    --color-grey-color-2: #5c5c5c;
    --color-main-color-3: #cddba2;
}

@theme {
    --color-main-color: var(--color-main-color);
    --color-grey-color: var(--color-grey-color);
    --color-main-color-2: var(--color-main-color-2);
    --color-grey-color-2: var(--color-grey-color-2);
    --color-main-color-3: var(--color-main-color-3);

    /* Breakpoints */
    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
}
* {
    box-sizing: border-box;
}

.grid-cols-1-xs-2-lg-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 480px) {
    .grid-cols-1-xs-2-lg-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid-cols-1-xs-2-lg-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.scrollbar-color-main-color-3 {
    scrollbar-color: --alpha(var(--color-main-color) / 20%) transparent;
    scrollbar-width: thin;
}
