---
import Image from './Image.astro';
import FlexBox from './FlexBox.astro';
import Container from './Container.astro';
import ListItems from './react-components/ListItems';
import { type IListItem } from '../entities/ListItem/model/types';

import {
    mdiMagnify,
    mdiHeartOutline,
    mdiCartOutline,
    mdiPhoneOutline,
} from '@mdi/js';

const footerLinksOne: IListItem[] = [
    {
        link: '/',
        title: 'О компании',
    },
    {
        link: '/',
        title: 'Каталог',
    },
    {
        link: '/',
        title: 'Услуги',
    },
    {
        link: '/',
        title: 'Доставка и самовывоз',
    },
    {
        link: '/',
        title: 'Производство',
    },
    {
        link: '/',
        title: 'Проекты и отзывы',
    },
];
---

<div class="footer">
    <Container>
        <FlexBox
            flexDirection="row"
            alignItems="center"
            justifyContent="space-between"
            gap="20px"
        >
            <a href="/" class="header__logo">
                <Image src="/logo.svg" width="87px" />
            </a>
            <ul>
                <ListItems items={footerLinksOne} />
            </ul>
            <ul>
                <ListItems items={footerLinksOne} />
            </ul>
        </FlexBox>
    </Container>
</div>

<style scoped lang="scss">
    .footer {
        background-color: var(--grey-color_2);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0;
    }
</style>
