---
import FlexBox from './FlexBox.astro';
import DropDownSelect from './react-components/DropDown';
import Container from './Container.astro';

const itemsForDropDown = [
    {
        title: 'Услуга 1',
        link: '/',
    },
    {
        title: 'Услуга 2',
        link: '/',
    },
    {
        title: 'Услуга 3',
        link: '/',
    },
    {
        title: 'Услуга 4',
        link: '/',
    },
    {
        title: 'Услуга 5',
        link: '/',
    },
    {
        title: 'Услуга 6',
        link: '/',
    },
];
---

<nav class="header-nav" aria-label="Основная навигация">
    <Container>
        <FlexBox
            flexDirection="row"
            alignItems="center"
            justifyContent="space-between"
        >
            <a href="/">О компании</a>
            <a href="/">Торговая мебель</a>
            <DropDownSelect
                client:only="true"
                title="Услуги"
                items={itemsForDropDown}
            />
            <a href="/">Проекты</a>
            <a href="/">Производство</a>
            <a href="/">Контакты</a>
        </FlexBox>
    </Container>
</nav>

<style is:global lang="scss">
    .header-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-block: 35px;
        border-top: 4px solid var(--main-color_2);
        border-bottom: 4px solid var(--main-color_2);
        width: 100%;
        margin-bottom: 60px;

        a {
            text-decoration: none;
            color: #000000;
            padding: 8px;
            font-family: var(--montserrat-font);
            font-weight: 500;
            font-size: 18px;
        }
    }
</style>
