.carousel-button {
    padding: 10px;
    background-color: var(--grey-color);
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: absolute;
    height: 70px;
    width: 70px;
    cursor: pointer;
}
